<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jquery_jplayer_2" class="jp-jplayer"></div>
<div id="jquery_jplayer_3" class="jp-jplayer"></div>
<div id="jquery_jplayer_4" class="jp-jplayer"></div>
<div id="jquery_jplayer_5" class="jp-jplayer"></div>
<div id="jquery_jplayer_6" class="jp-jplayer"></div>
<div id="jquery_jplayer_7" class="jp-jplayer"></div>
<div id="jquery_jplayer_8" class="jp-jplayer"></div>
<div id="jquery_jplayer_9" class="jp-jplayer"></div>
<div id="jquery_jplayer_10" class="jp-jplayer"></div>
<div id="jquery_jplayer_11" class="jp-jplayer"></div>
<div id="jquery_jplayer_12" class="jp-jplayer"></div>
<div id="jquery_jplayer_13" class="jp-jplayer"></div>
<div id="jquery_jplayer_14" class="jp-jplayer"></div>
<div id="jquery_jplayer_15" class="jp-jplayer"></div>
<div id="jquery_jplayer_16" class="jp-jplayer"></div>
<div id="jquery_jplayer_17" class="jp-jplayer"></div>
<div id="jquery_jplayer_18" class="jp-jplayer"></div>
<div id="jquery_jplayer_19" class="jp-jplayer"></div>
<div id="jquery_jplayer_20" class="jp-jplayer"></div>
<div id="jquery_jplayer_21" class="jp-jplayer"></div>
<div id="jquery_jplayer_22" class="jp-jplayer"></div>
<div id="jquery_jplayer_23" class="jp-jplayer"></div>
<div id="jquery_jplayer_24" class="jp-jplayer"></div>
<div id="jquery_jplayer_25" class="jp-jplayer"></div>
<div id="jquery_jplayer_26" class="jp-jplayer"></div>

<div class="center" id="top_select">
	<div class="btn-group" data-toggle="buttons-radio">
	  <button type="button" class="btn btn-large btn-primary" id="upper_case_button">Upper case</button>
	  <button type="button" class="btn btn-large btn-primary" id="lower_case_button">Lower case</button>
	</div>
</div>

<div id="upper_case">
	<div class="alphabet letterA">
		<p>A</p>
	</div>
	<div class="alphabet letterB">
		<p>B</p>
	</div>
	<div class="alphabet letterC">
		<p>C</p>
	</div>
	<div class="alphabet letterD">
		<p>D</p>
	</div>
	<div class="alphabet letterE">
		<p>E</p>
	</div>
	<div class="alphabet letterF">
		<p>F</p>
	</div>
	<div class="alphabet letterG">
		<p>G</p>
	</div>
	<div class="alphabet letterH">
		<p>H</p>
	</div>
	<div class="alphabet letterI">
		<p>I</p>
	</div>
	<div class="alphabet letterJ">
		<p>J</p>
	</div>
	<div class="alphabet letterK">
		<p>K</p>
	</div>
	<div class="alphabet letterL">
		<p>L</p>
	</div>
	<div class="alphabet letterM">
		<p>M</p>
	</div>
	<div class="alphabet letterN">
		<p>N</p>
	</div>
	<div class="alphabet letterO">
		<p>O</p>
	</div>
	<div class="alphabet letterP">
		<p>P</p>
	</div>
	<div class="alphabet letterQ">
		<p>Q</p>
	</div>
	<div class="alphabet letterR">
		<p>R</p>
	</div>
	<div class="alphabet letterS">
		<p>S</p>
	</div>
	<div class="alphabet letterT">
		<p>T</p>
	</div>
	<div class="alphabet letterU">
		<p>U</p>
	</div>
	<div class="alphabet letterV">
		<p>V</p>
	</div>
	<div class="alphabet letterW">
		<p>W</p>
	</div>
	<div class="alphabet letterX">
		<p>X</p>
	</div>
	<div class="alphabet letterY">
		<p>Y</p>
	</div>
	<div class="alphabet letterZ">
		<p>Z</p>
	</div>
</div>
<div id="lower_case">	
	<div class="alphabet letterA">
		<p>a</p>
	</div>
	<div class="alphabet letterB">
		<p>b</p>
	</div>
	<div class="alphabet letterC">
		<p>c</p>
	</div>
	<div class="alphabet letterD">
		<p>d</p>
	</div>
	<div class="alphabet letterE">
		<p>e</p>
	</div>
	<div class="alphabet letterF">
		<p>f</p>
	</div>
	<div class="alphabet letterG">
		<p>g</p>
	</div>
	<div class="alphabet letterH">
		<p>h</p>
	</div>
	<div class="alphabet letterI">
		<p>i</p>
	</div>
	<div class="alphabet letterJ">
		<p>j</p>
	</div>
	<div class="alphabet letterK">
		<p>k</p>
	</div>
	<div class="alphabet letterL">
		<p>l</p>
	</div>
	<div class="alphabet letterM">
		<p>m</p>
	</div>
	<div class="alphabet letterN">
		<p>n</p>
	</div>
	<div class="alphabet letterO">
		<p>o</p>
	</div>
	<div class="alphabet letterP">
		<p>p</p>
	</div>
	<div class="alphabet letterQ">
		<p>q</p>
	</div>
	<div class="alphabet letterR">
		<p>r</p>
	</div>
	<div class="alphabet letterS">
		<p>s</p>
	</div>
	<div class="alphabet letterT">
		<p>t</p>
	</div>
	<div class="alphabet letterU">
		<p>u</p>
	</div>
	<div class="alphabet letterV">
		<p>v</p>
	</div>
	<div class="alphabet letterW">
		<p>w</p>
	</div>
	<div class="alphabet letterX">
		<p>x</p>
	</div>
	<div class="alphabet letterY">
		<p>y</p>
	</div>
	<div class="alphabet letterZ">
		<p>z</p>
	</div>
</div>
<script>
	$(function() {
		$('#lower_case').hide();
		$('#upper_case_button').button('toggle')
		$('#lower_case_button').click(function(){
			$('#upper_case').hide();
			$('#lower_case').show();
		})
		$('#upper_case_button').click(function(){
			$('#upper_case').show();
			$('#lower_case').hide();
		});
	});
</script>