<div id="jquery_jplayer_fail" class="jp-jplayer"></div>
<div id="jquery_jplayer_success" class="jp-jplayer"></div>

<div class="center" id="top_select">
	<div class="btn-group">
	  <button type="button" class="btn btn-large btn-primary" id="upper_case_touch_button">Upper case</button>
	  <button type="button" class="btn btn-large btn-primary" id="lower_case_touch_button">Lower case</button>
	</div>
</div>

<div class="center">
	Points: <p id="points_container">0</p>
</div>	

<div class="center" id="random_letter_box">
	<p id="random_letter"></p>
</div>

<div class="center" id="go_buster">
	<%= image_tag("go_buster.jpg") %>
</div>

<div id="upper_case_touch">
	<div class="alphabet" id="answer_A">
		<p>A</p>
	</div>
	<div class="alphabet" id="answer_B">
		<p>B</p>
	</div>
	<div class="alphabet" id="answer_C">
		<p>C</p>
	</div>
	<div class="alphabet" id="answer_D">
		<p>D</p>
	</div>
	<div class="alphabet" id="answer_E">
		<p>E</p>
	</div>
	<div class="alphabet" id="answer_F">
		<p>F</p>
	</div>
	<div class="alphabet" id="answer_G">
		<p>G</p>
	</div>
	<div class="alphabet" id="answer_H">
		<p>H</p>
	</div>
	<div class="alphabet" id="answer_I">
		<p>I</p>
	</div>
	<div class="alphabet" id="answer_J">
		<p>J</p>
	</div>
	<div class="alphabet" id="answer_K">
		<p>K</p>
	</div>
	<div class="alphabet" id="answer_L">
		<p>L</p>
	</div>
	<div class="alphabet" id="answer_M">
		<p>M</p>
	</div>
	<div class="alphabet" id="answer_N">
		<p>N</p>
	</div>
	<div class="alphabet" id="answer_O">
		<p>O</p>
	</div>
	<div class="alphabet" id="answer_P">
		<p>P</p>
	</div>
	<div class="alphabet" id="answer_Q">
		<p>Q</p>
	</div>
	<div class="alphabet" id="answer_R">
		<p>R</p>
	</div>
	<div class="alphabet" id="answer_S">
		<p>S</p>
	</div>
	<div class="alphabet" id="answer_T">
		<p>T</p>
	</div>
	<div class="alphabet" id="answer_U">
		<p>U</p>
	</div>
	<div class="alphabet" id="answer_V">
		<p>V</p>
	</div>
	<div class="alphabet" id="answer_W">
		<p>W</p>
	</div>
	<div class="alphabet" id="answer_X">
		<p>X</p>
	</div>
	<div class="alphabet" id="answer_Y">
		<p>Y</p>
	</div>
	<div class="alphabet" id="answer_Z">
		<p>Z</p>
	</div>
</div>
<div id="lower_case_touch">	
	<div class="alphabet" id="answer_a">
		<p>a</p>
	</div>
	<div class="alphabet" id="answer_b">
		<p>b</p>
	</div>
	<div class="alphabet" id="answer_c">
		<p>c</p>
	</div>
	<div class="alphabet" id="answer_d">
		<p>d</p>
	</div>
	<div class="alphabet" id="answer_e">
		<p>e</p>
	</div>
	<div class="alphabet" id="answer_f">
		<p>f</p>
	</div>
	<div class="alphabet" id="answer_g">
		<p>g</p>
	</div>
	<div class="alphabet" id="answer_h">
		<p>h</p>
	</div>
	<div class="alphabet" id="answer_i">
		<p>i</p>
	</div>
	<div class="alphabet" id="answer_j">
		<p>j</p>
	</div>
	<div class="alphabet" id="answer_k">
		<p>k</p>
	</div>
	<div class="alphabet" id="answer_l">
		<p>l</p>
	</div>
	<div class="alphabet" id="answer_m">
		<p>m</p>
	</div>
	<div class="alphabet" id="answer_n">
		<p>n</p>
	</div>
	<div class="alphabet" id="answer_o">
		<p>o</p>
	</div>
	<div class="alphabet" id="answer_p">
		<p>p</p>
	</div>
	<div class="alphabet" id="answer_q">
		<p>q</p>
	</div>
	<div class="alphabet" id="answer_r">
		<p>r</p>
	</div>
	<div class="alphabet" id="answer_s">
		<p>s</p>
	</div>
	<div class="alphabet" id="answer_t">
		<p>t</p>
	</div>
	<div class="alphabet" id="answer_u">
		<p>u</p>
	</div>
	<div class="alphabet" id="answer_v">
		<p>v</p>
	</div>
	<div class="alphabet" id="answer_w">
		<p>w</p>
	</div>
	<div class="alphabet" id="answer_x">
		<p>x</p>
	</div>
	<div class="alphabet" id="answer_y">
		<p>y</p>
	</div>
	<div class="alphabet" id="answer_z">
		<p>z</p>
	</div>
</div>

<script>
	$(function() {
		var randomLetter = 0;
		var points = 0;
		$('#lower_case_touch').hide();
		$('#upper_case_touch').hide();
		$('#lower_case_touch_button').click(function(){
			randomLetter = randomChar("lowerLetter");
			$('#go_buster').hide();
			$('#upper_case_touch').hide();
			$('#lower_case_touch').hide();
			console.log(randomLetter);
			$('#random_letter_box').show();
			$('#random_letter').append(randomLetter);
			setTimeout("jQuery('#lower_case_touch').show();", 350);
			setTimeout("jQuery('#random_letter').empty();", 350);
			setTimeout("jQuery('#random_letter_box').hide();", 350);
		})
		$('#upper_case_touch_button').click(function(){
			randomLetter = randomChar("upperLetter");
			$('#upper_case_touch').hide();
			$('#go_buster').hide();
			$('#lower_case_touch').hide();
			console.log(randomLetter);
			$('#random_letter_box').show();
			$('#random_letter').append(randomLetter);
			setTimeout("jQuery('#upper_case_touch').show();", 350);
			setTimeout("jQuery('#random_letter').empty();", 350);
			setTimeout("jQuery('#random_letter_box').hide();", 350);
		});
		$('#answer_A').click(function(){
			if ("A" == randomLetter){
				points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_B').click(function(){
			if ("B" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_C').click(function(){
			if ("C" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_D').click(function(){
			if ("D" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_E').click(function(){
			if ("E" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_F').click(function(){
			if ("F" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_G').click(function(){
			if ("G" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_H').click(function(){
			if ("H" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_I').click(function(){
			if ("I" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_J').click(function(){
			if ("J" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_K').click(function(){
			if ("K" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_L').click(function(){
			if ("L" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_M').click(function(){
			if ("M" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_N').click(function(){
			if ("N" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_O').click(function(){
			if ("O" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_P').click(function(){
			if ("P" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_Q').click(function(){
			if ("Q" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_R').click(function(){
			if ("R" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_S').click(function(){
			if ("S" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_T').click(function(){
			if ("T" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_U').click(function(){
			if ("U" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_V').click(function(){
			if ("V" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_W').click(function(){
			if ("W" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_X').click(function(){
			if ("X" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_Y').click(function(){
			if ("Y" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_Z').click(function(){
			if ("Z" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_a').click(function(){
			if ("a" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_b').click(function(){
			if ("b" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_c').click(function(){
			if ("c" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_d').click(function(){
			if ("d" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_e').click(function(){
			if ("e" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_f').click(function(){
			if ("f" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_g').click(function(){
			if ("g" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_h').click(function(){
			if ("h" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_i').click(function(){
			if ("i" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_j').click(function(){
			if ("j" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_k').click(function(){
			if ("k" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_l').click(function(){
			if ("l" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_m').click(function(){
			if ("m" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_n').click(function(){
			if ("n" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_o').click(function(){
			if ("o" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_p').click(function(){
			if ("p" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_q').click(function(){
			if ("q" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_r').click(function(){
			if ("r" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_s').click(function(){
			if ("s" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_t').click(function(){
			if ("t" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_u').click(function(){
			if ("u" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_v').click(function(){
			if ("v" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_w').click(function(){
			if ("w" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_x').click(function(){
			if ("x" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_y').click(function(){
			if ("y" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});
		$('#answer_z').click(function(){
			if ("z" == randomLetter){
		        points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#go_buster').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/coin_drop.mp3",
							oga: "/assets/coin_drop.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    } 
		    else {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_fail").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/fail_buzzer.mp3",
							oga: "/assets/fail_buzzer.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		    }    
		});

		function randomChar(type){
		    var pool = "";

		    if (type == "lowerLetter"){
		        pool = "abcdefghijklmnopqrstuvwxyz";
		    }
		    else {
		        pool = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		    }
		    var arr = pool.split('');
		    return arr[Math.floor(Math.random()*arr.length)];
		}
	});
</script>