@import "bootstrap";
@import "bootstrap-responsive";

.center {
  text-align:center;
}

#top_select{
  margin: 20px;
}

.alphabet {
  float: left;
  text-align:center;
  width: 150px;
  cursor: pointer;
  margin: 4px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.alphabet:hover,
.alphabet:focus {
  background-color: #a4c8ea;
  border: 3px solid #875f9d;
  -webkit-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
}

#random_letter {
  font-size: 290px;
  padding-top: 130px;
}

#lower_case_touch {
  display:none;
}

#upper_case_touch {
  display:none;
}

#go_buster {
  display:none;
}